@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    color: #1c1c1c;
}
h1{
    font-size: 70px;
    line-height: 1.1;
    margin: 0 0 20px;
    font-weight: 900;
}
h2{
    font-size: 50px;
    line-height: 1.3;
    margin: 0 0 20px;
}
h3{
    font-size: 36px;
    line-height: 1.3;
    margin: 0 0 20px;
}
h4{
    font-size: 24px;
    line-height: 1.3;
    margin: 0 0 20px;
}
h5,h6{
    font-size: 18px;
    line-height: 1.3;
    margin: 0 0 20px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 100%;
}
.main-btn{
    color: white;
    background-color: #dd0000;
    font-weight: 500;
    padding: 14px 33px;
    border-radius: 5px;
    text-decoration: none;
    transition: .35s;
    display: inline-block;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 16px;
    position: relative;
    z-index: 1;
}
.main-btn i{
    margin-left: 5px;
}
.main-btn:hover{
    background-color: #d94e4e;
}
.white-btn{
    color: #1c1c1c;
    background-color: white;
    padding: 12px 20px;
    font-size: 14px;
}
.white-btn:hover{
    color: white;
}
.small-btn {
    padding: 6px 14px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

/************************
    Hero Area
*************************/
.hero-area{
    margin-bottom: 80px;
}
.hero-content-area{
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    gap: 50px;
    padding: 0 80px;
    align-items: center;
    overflow: hidden;
}
.hero-text{
    padding: 0;
    width: 50%;
    color: white;
    flex-shrink: 0;
}

.hero-text .main-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    display: block;
    width: 100%;
    height: 100%;
    background: #dd0000;
    animation: bg-pulse 1300ms ease-out infinite;
    border-radius: 5px;
}

@keyframes bg-pulse {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4);
        opacity: 0;
    }
}
.hero-img{
    padding-top: 50px;
    width: 50%;
    flex-shrink: 0;
}
.hero-img img{
    margin-bottom: -10px;
}



/************************
    Blog Area
*************************/

.blog-area{
    padding: 80px 0;
    background-color: #f8f8f8;
}
.blog-content-area{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
}
.blog-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #161616;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.blog-menu .main-btn{
    text-align: center;
    display: block;
    font-size: 20px;
}
.blog-menu .main-btn:hover, 
.blog-menu .main-btn.active{
    background-color: #dd0000;
    color: white;
}
.blog-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.blog-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.blog-item img {
    width: 100%;
}
.blog-item-txt{
    padding: 15px;
}
.blog-item-txt ul {
    list-style: none;
    display: flex;
    gap: 25px;
    color: #555;
    margin: 0;
    padding: 0;
}
.blog-item-txt ul i {
    margin-right: 3px;
}
.blog-item-txt .small-btn {
    margin-bottom: 17px;
}
.view-more-btn{
    text-align: center;
    display: none;
    margin-top: 30px;
}

/************************
    Footer Area
*************************/

.footer-area {
    background-color: #0b0d17;
    padding: 60px 0;
}
.footer-details{
    color: #fff;
    text-align: center;
}

.footer-details hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.footer-details a{
    color: #fff;
    text-decoration: none;
}
.footer-details ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-details ul li a{
    transition: .35s;
}
.footer-details ul li a:hover{
    color: #dd0000;    
}
.footer-menu ul {
    gap: 50px;
    flex-wrap: wrap;
}
.footer-social ul {
    gap: 24px;
    margin-top: 30px;
}
.footer-social ul li a {
    font-size: 24px;
}

/**********************
Match Schedule Pages Start 
**********************/

.match-schedule-item{
    border: 1px solid #ccc;
    padding: 50px 20px 30px;
    border-radius: 7px;
    text-align: center;
    background-color: #fff;
}
.match-schedule-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.match-schedule-flags span{
    font-weight: 700;
}



/* Tablet Device */

@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        max-width: 97%;
    }
    h1{
        font-size: 42px;
    }
    .hero-text p{
        font-size: 14px;
    }
    .blog-content-area {
        grid-template-columns: 1fr;
    }
    .blog-menu ul {
        flex-direction: row;
        gap: 20px;
    }
    .blog-menu ul li{
        width: 100%;
    }
    .blog-content {
        grid-template-columns: 1fr 1fr;
    }

    .view-more-btn{
        display: block;
    }
    .footer-menu ul{
        gap:20px
    }


}
    
    
    /* Mobile Device */
    
@media only screen and (max-width:688px){
    .container{
        max-width: 90%;
    }
    h1,h2{
        font-size: 30px;
    }
    .hero-area {
        margin-bottom: 40px;
    }
    .hero-content-area {
        padding: 50px 15px 0;
        text-align: center;
        flex-direction: column;
    }
    .hero-text,.hero-img{
        width: 100%;
        padding-top: 0;
    }
    .hero-text p{
        font-size: 14px;
    }
    .blog-area {
        padding:0 0 50px;
    }
    .blog-content-area,
    .blog-content {
        grid-template-columns: 1fr;
    }
    .blog-menu ul {
        background-color: transparent;
        align-items: center;
    }
    .blog-menu .main-btn {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 14px 40px;
    }
    .footer-menu ul{
        gap:20px;
        flex-direction: column;
    }


}